@{
    ViewData["Title"] = "Política de Privacidade";
}
<!-- VERSÃO FINAL DO ARQUIVO -->
<!-- Início Menu -->
    <header class="controle">
        <nav class="navbar-expand-xl navbar-dark fixed-top mynav">
          <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
          </div>

          <div class="logo">
            <img src="~/imgs/AcessiCARlogo2transp.png" width="20%" height="20%">
            AcessiCAR
          </div>

          <div class="menu">
            <ul>
               <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
              <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
              <li><a asp-area="" asp-controller="Passageiroes" asp-action="Create">Passageiro</a></li>
              <li><a asp-area="" asp-controller="Motorista" asp-action="Index">Motorista</a></li>
              <li><a asp-area="" asp-controller="Contatoes" asp-action="Create">Contato</a></li>
              <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>

            </ul>
          </div>
        </nav>
    </header>
<!-- Fim Menu -->

<h1>@ViewData["Title"]</h1>


<p>Página destina para termos e regras da empresa.</p>
<p>Em construção.</p>
